.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 10px 30px 30px 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 3px #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 60%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn {
  background: #fc0808;
  background-image: -webkit-linear-gradient(top, #fc0808, #910a0a);
  background-image: -moz-linear-gradient(top, #fc0808, #910a0a);
  background-image: -ms-linear-gradient(top, #fc0808, #910a0a);
  background-image: -o-linear-gradient(top, #fc0808, #910a0a);
  background-image: linear-gradient(to bottom, #fc0808, #910a0a);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  margin-top: 20px;
  margin-left: 20px;
}

.btn:hover {
  background: #fc0000;
  background-image: -webkit-linear-gradient(top, #fc0000, #6e0a0a);
  background-image: -moz-linear-gradient(top, #fc0000, #6e0a0a);
  background-image: -ms-linear-gradient(top, #fc0000, #6e0a0a);
  background-image: -o-linear-gradient(top, #fc0000, #6e0a0a);
  background-image: linear-gradient(to bottom, #fc0000, #6e0a0a);
  text-decoration: none;
}
